.page-profil {
  padding-top: 30px;

  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .web.penghargaan {
    padding-top: 30px;
  }

  .web-hero-profil {
    margin: 30px;
  }

  .web-organisasi {
    margin: 30px;
  }

  .web-visi-misi {
    margin-top: 40px;
    padding: 30px 0px;
    background: grey;

    .visi-detail {
      font-size: 19px;
      font-weight: bolder;
      margin-bottom: 8px;
    }
  }

  .web-tusi {
    margin-top: 30px;
  }

  .web-affiliate {
    margin-top: 30px;
    background: red;
  }

  //   .store-new-product {
  //     margin-top: 10px;
  //   }
}
